<main>
<div class = "trainingbookmark-backimage">
  <div class = "users-title">
    <h2 class = "text-white font-weight-bold">お気に入り</h2>
  </div>
</div>

<div class = "container">
  <div class = "low">
    <div class = "col-10 offset-1 text-center">

      <table class = 'table border '>
          <thead>
            <tr>
              <th></th>
              <th class = "text-white">投稿者</th>
              <th class = "text-white">トレーニング名</th>
            </tr>
          </thead>

          <tbody>
            <% @bookmarks.each do |bookmark| %>
              <tr>
                <td><%= attachment_image_tag bookmark.training.user, :profile_image, size: '30x30', fallback: "no_image.jpg", class: "rounded-circle"%></td>
                <td class = "text-white"><%= bookmark.training.user.user_name %></td>
                <td>
                  <%= link_to training_path(bookmark.training) do %>
                    <%= bookmark.training.title %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>