
<div class = "articleindex-backimage">
  <div class = "articles-title">
    <h2 class = "text-white">ピックアップ</h2>
  </div>
</div>

<div class = "article-container">
  <% @articles.each do |article| %>
  <div class = "col-8 offset-md-2">
    <div class = "article-box">
      <h3 class = "article-background text-white text-center"><%= article.title %></h3>
      <div class = "post">
        <div><%= attachment_image_tag article, :article_image, class: "article-image"%></div>
        <div class = "article-content">
          <div><%= article.description %></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!--ページング機能-->
<%= paginate @articles, class: "center-block" %>