<div class="main-image">
  <div class = "subcontent">
    <div class="sub-image">
      <div id="content">
        <div id="rect"></div>
      </div>
    </div>
  </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/yurayura.js"></script>