<!--<%#= render'layouts/user_header' %>-->

<!--<main>-->
<!--  <%#= render'layouts/user_sidebar' %>-->

<main>
  <div class = "top">
  <!--backimage格納-->
    <div class = "main-image">
      <!--Javascript 煙効果-->
      <div class = "subcontent">
        <div class = "sub-image">
          <div id = "content">
            <div id = "rect"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/yurayura.js"></script>
  </div>

  <div class = "about">
    <h4 class = "about-title">ABOUT</h4>
    <p class = "about-description">筋トレ投稿共有サイト</br>会員登録をして筋トレを共有してみよう</p>
  </div>

  <!--ボーダー線-->
  <hr color="#FFFFFF"> 

  <div class = "contents">
    <h4 class = "about-title">KINTOREとは？</h4>
      <div class = "contener">
        <div class = "contents-box1">閲覧する</div>
        <div class = "contents-box2">共有する</div>
        <div class = "contents-box3">筋トレをする</div>
      </div>
  </div>

</main>