<div class="main-image">
  <!--<div class = "about">-->
    <!--<h4 class = "text-secondary font-weight-bold">About</h4>-->
    <!--<h6 class = "text-secondary font-weight-bold">筋トレを始める</br>身体作りのための無料共有サイト</h6>-->
  <!--</div>-->
  <div class = "subcontent">
    <div class="sub-image">
      <div id="content">
        <div id="rect"></div>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/yurayura.js"></script>