/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

main {
  width: 100%; /* 横幅800px */
  display: flex; /* Flexboxの利用 */
  margin: 0px; /* 要素の中央揃え */
  padding: 0px; /* 上下に70px、左右に0pxの内側余白 */
}

.sidebar {
  width: 230px;
  padding-top: 60px;
  background-color: #1A1A1A;
  list-style: none;
  min-height: 100vh;
}


// .sidebar_fixed {
//   position: sticky;
//   top: 0px;
//   background-color: #1A1A1A;
// }


 header {
  background-color: #000000;
}

.title {
  margin-right: auto;
}


 .background_main {
  background-color: #333333;
 }

 footer {
  background-color: #000000;
}

.vertical-middle {
  vertical-align : middle; /* 上下中央に寄せる */
}
