// .top-box {
//   position: relative;

.main-image {
  width: 100%; /* 横幅いっぱい */
  height: 100%; /* 高さ300px */
  background-image: image-url("kinniku.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center;
  position : absolute;
}

.about {
  position : absolute;
  padding: 1em;
  text-align: center
}
.subcontent {
  padding: 0% 0%;
}

.sub-image {
  width: 100%; /* 横幅いっぱい */
  height: 810px;
  background-image: image-url("kemuri.png");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center;
  opacity: 0.2;
}