// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 検索セレクト可視化
.select {
 display: none ;
}


.search-body {
 text-align: right;
}

.border-radius {
 border-radius: 5px;
}

.py-0 {
  border-radius: 6px !important; //丸み調整
}