.trainings-title {
 color: #000000;
 display: flex;
 height: 40vh;
 align-items: center;
 justify-content: center;
}

// 新規投稿画面バッグ画像
  .trainingnew-backimage {
  background-image: image-url("trainingnew.jpg");
  background-size: cover;
  background-position: center;

}

// 投稿一覧バック
  .trainingindex-backimage {
  background-image: image-url("trainingindex.jpg");
  background-size: cover;
  background-position: center;
}

  .trainingbookmark-backimage {
  background-image: image-url("bookmark.jpg");
  background-size: cover;
  background-position: center;
}
  .trainingranking-backimage {
  background-image: image-url("ranking.jpg");
  background-size: cover;
  background-position: center;
}

  .trainingshow-backimage {
  background-image: image-url("trainingshow.jpg");
  background-size: cover;
  background-position: center;
}

// 投稿
.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.showbody {
  background-color: #fff;
}

.thshow {
  width: 200px;
}

.trainingimg {
  width : 100% ; // show:画像調整
}

.index-box {
  margin: 30px;
  width: 252px;
  height: 100%;
}

.post {
  background-color: #fff;
  border: 1px solid
}

.id-image {
  border-radius: 10px;
}

.break{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.favooff {
  color: #ff69b4;
}

.favoon {
  color: #ff69b4;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

// ページング機能
.kaminari {
  margin: 0px;
  putting: 0px;
}

// ページング機能
.pagination {
  justify-content: center;
  margin: 30px;
}