.trainings-title {
 color: #000000;
 display: flex;
 height: 40vh;
 align-items: center;
 justify-content: center;
}

  .trainingnew-backimage {
  min-height: 40vh;
  background-image: url(/assets/trainingnew.jpg);
  background-size: 100% auto;
}

  .trainingindex-backimage {
  min-height: 40vh;
  background-image: url(/assets/trainingindex.jpg);
  background-size: 100% auto;
}

  .trainingbookmark-backimage {
  min-height: 40vh;
  background-image: url(/assets/bookmark.jpg);
  background-size: 100% auto;
}
  .trainingranking-backimage {
  min-height: 40vh;
  background-image: url(/assets/ranking.jpg);
  background-size: 100% auto;
}

// 投稿一覧
.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.index-box {
  margin: 10px;
}

.post {
  background-color: #fff;
  border: 1px solid
}

.account-image {
  border-radius: 50%;
}