// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .login-backimage {
  background-image: image-url("login.jpg");
  background-size: cover;
  background-position: center;
}

  .signup-backimage {
  background-image: image-url("sign-up.jpg");
  background-size: cover;
  background-position: center;
}

 .mypage-backimage {
  background-image: image-url("mypage.jpg");
  background-size: cover;
  background-position: center;
}

 .edit-backimage {
  background-image: image-url("edit.jpg");
  background-size: cover;
  background-position: center;
}


.users-title {
 color: #000000;
 display: flex;
 height: 40vh;
 align-items: center;
 justify-content: center;
}

.container {
 background-size: 100% auto;
 margin: 60px auto;
}

.textcolor {
 color: #000000;
}