<header>
  <div class="navbar">

    <!--ハンバーガーメニュー（768px以下で表示）-->
    <!--<div id="sp-menu">-->
    <!--  <ul>-->
    <!--    <li></li>-->
    <!--    <li><a><%#= render'/search' %></a></li>-->
    <!--    <li><a href="#">MENU1</a></li>-->
    <!--    <li><a href="#">MENU2</a></li>-->
    <!--    <li><a href="#">MENU3</a></li>-->
    <!--    <li><a href="#">MENU4</a></li>-->
    <!--    <li><a href="#">MENU5</a></li>-->
    <!--  </ul>-->
    <!--</div>-->

    <!--<div id="hm-icon">-->
    <!--  <a class="menu-trigger" href="#">-->
    <!--    <span></span>-->
    <!--    <span></span>-->
    <!--    <span></span>-->
    <!--  </a>-->
    <!--</div>-->

    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/script.js"></script>-->

    <!--サイト名-->
     <span class=" text-white">
    <a class="navbar-brand mr-auto ml-5" href="/"><h3 class=" text-white">KINTORE</h3></a>
    ：筋トレ投稿型共有サイト</span>

    <!--検索欄（768px以上で表示）-->
    <li class = "navbar ml-auto"><%= render'/search' %></li>

  </div>
</header>