<header>
  <div class="navbar ml-5">
    <a class="navbar-brand" href="/"><h3 class=" text-white m-0 ">KINTORE</h3></a>
      <ul class = "mr-auto mb-0 pt-3">
        <li class = "text-white">：筋トレ投稿型共有サイト</li>
      </ul>
        <li class = "pt-2"><%= render'/search' %></li>
  </div>
</header>