<header>
  <div class="navbar navbar-expand-lg ml-5">
    <a class="navbar-brand" href="/"><h3 class=" text-white m-0 ">KINTORE</h3></a>
    <div class = text-white>：筋トレ投稿型共有サイト</div>
  </nav>
</header>